@model IEnumerable<CoursesApplication.Domain.Models.Lecture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <!-- TODO: Create table for ExamSession -->
    <!-- Look at the table at any of the Index pages for help -->
    <!-- Iterate through Model.CoursesInExamSession -->
    <!-- Display: Course Name, Course Semester -->
</table>


<!-- TODO: Display total number of course exams in the session -->
<div>
    <p>Total Number of Exams: </p>
</div>
